:root{
    --violet:hsl(263,55%,52%);
    --dark-grayish-blue: hsl(217, 19%,35%);
    --dark-blackish-blue:hsl(219,29%,14%);
    --light-gray: hsl(0,0%,90%);
    --light-grayish-blue: hsl(210,46%,95%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding:3.5em 1.4em;
    font-family: 'Barlow Semi Condensed';
    background-color: var(--light-gray);
}

.container{
    width: 100%;
    display: grid;
    max-width: 1000px;
}

.comment{
    width: 100%;
    padding:1.5em;
    background-color: var(--violet);
    color:white;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns:35px auto;
    grid-template-rows: auto auto auto;
    gap:1em;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.3);
}

.comment:first-child{
    background-color: none;
    background: url('./images/bg-pattern-quotation.svg') no-repeat 90% 0%, linear-gradient(0deg,var(--violet),var(--violet));
}

.comment:nth-child(2){
    background-color: var(--dark-grayish-blue);
}

.comment:nth-child(3),:nth-child(5){
    background-color: white;
    color:var(--dark-grayish-blue);
}

.comment:nth-child(4){
    background-color: var(--dark-blackish-blue);
}

img{
    width: 100%;
    border: 2px solid var(--light-gray);
    border-radius: 50%;    
    justify-self: center;
    align-self: start;
}

.name-job{
    grid-area: 2/3/1/2;
    justify-self: start;
    font-weight: 500;
}

.name-job .name{
    font-size: 0.8em;
}

.name-job .job{
    font-size: 0.8em;
    color:rgba(255,255,255,0.5)
}

.main-text{
    grid-area:3/3/2/1;
    font-size: 1.2em;
}

.text{
    font-size: 0.8em;
    color: rgba(255,255,255,0.7);
    grid-area: 4/3/3/1;
}

.comment:nth-child(5)>.text,
.comment:nth-child(3) > .text,.job{
    color:hsla(217, 19%,35%,0.7);
}

.comment:nth-child(5) .job,
.comment:nth-child(3) .job{
    color:hsla(217, 19%,35%,0.5);
}

@media only screen and (min-width:768px){
    body{
        padding:0;
    }

    .comment{
        margin: 0;
        gap:0.5em;
    }

    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:1.8em;
        grid-template-areas: 
        'first first second fifth'
        'third fourth fourth fifth';
    }

    .comment:nth-child(1){
        grid-area:first;
        /* grid-row: 1/2;
        grid-column: 1/3; */
    }
    .comment:nth-child(2){
        grid-area: second;
        /* grid-row: 1/2;
        grid-column: 3/4; */
    }
    .comment:nth-child(3){
        grid-area: third;
        /* grid-row: 2/3;
        grid-column: 1/2; */
    }
    .comment:nth-child(4){
        grid-area: fourth;
        /* grid-row: 2/3;
        grid-column: 2/4; */
    }
    .comment:nth-child(5){
        grid-area:fifth;
        /* grid-row: 1/3;
        grid-column: 4/5; */
    }

}